* {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #507580;
    color: #e5e5e5;
}

.header span {
    margin-right: 20px;
}

.header span:hover {
    color: #252525;
    cursor: pointer;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    color: #e5e5e5;
}

.logo-title:hover {
    color: #252525;
    cursor: pointer;
}

/*
black: #252525;
white: #e5e5e5;
dark: #404040;
light: #f0f0f0;
blue: #507580;
*/