* {
    margin: 0;
    padding: 0;
    color: #252525;
}

.login {
    margin-top: 60px;
    padding: 10px;
    background-color: #e5e5e5;
}

/*
black: #252525;
white: #e5e5e5;
dark: #404040;
light: #f0f0f0;
blue: #507580;
*/