* {
    margin: 0;
    padding: 0;
    color: #252525;
}

.book {
    position: fixed;
    top: 10%;
    bottom: 5%;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #e5e5e5;
    overflow-y: scroll;
}

/*
black: #252525;
white: #e5e5e5;
dark: #404040;
light: #f0f0f0;
blue: #507580;
*/